@import url("common.css");

*{
    font-family : 'Noto Sans KR', sans-serif;
    box-sizing :border-box;
}

body,html{
    margin:0px;
    padding:0px;
    height:100%;
    box-sizing :border-box;
}

.main_contents{
    display:flex;
    height:90%;
    min-width: 1200px;
    overflow-x:auto;
}

/*
    main contents section
*/
.cil_table_section{
    height : 100%;
    background-color : #f7f7f7;
    min-width:900px;
    min-height:100%;
   background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAAXNSR0IArs4c6QAAABlJREFUGFdjvHDhwkwGKGAEcZSUlMBcFA4A4ikJ6zan5dEAAAAASUVORK5CYII=
   ) repeat;
}

.cil_table_section table{
    border-collapse:collapse;
}

.cil_table_section table td,
.cil_table_section table th{
    border-right : solid 2px rgb(228, 228, 228);
    border-bottom : none;
    width : 140px;
    height : 38px;
    text-align : center;
    font-size : 10px;
    padding : 5px 10px;
    color:#292828;
}

.cil_table_section table th{
    border-right:none;
    color:#585858;
    height:50px;
}

span{
    text-align : center;
    width : 114px;
    height : 34px;
    border-radius : 5px;
    background : #f5f5f5;
    box-shadow :  2px 2px 8px #d0d0d0,
                -2px -2px 8px #ffffff;
    display: table-cell;
    vertical-align:middle;
}

.class_mark{
    background: #c7c7c7;
}

.colspan2{
    width:260px;
}

.colspan4{
    width:530px;
}


/*
    side section
*/
.area_section,
.jobs_section{
    height:100%;
    margin:0px;
    padding-top:0px;
    width:210px;
    background-color : #464646;
    display:flex;
    justify-content: center;
}
.area_section table, 
.jobs_section table{
    text-align:center;
    margin-top:0px;
    border-collapse:collapse;
    margin-top:0px;
}
.area_section table th,
.jobs_section table th
{
    text-align : center;
    font-size : 13px;
    padding : 6px 10px;
    border-right:none;
    background-color: #464646;
    height:50px;
    color:#f1f1f1;
}
.area_section table th span,
.jobs_section table th span
{
    height : 25px;
    width : 110px;
    border-radius: 4px;
    background: #464646;
    box-shadow:  2px 2px 9px #3c3c3c,
                -2px -2px 9px #515151;
}

.area_section table td
{
    height:70px;
    padding-top:15px;
}

.jobs_section table td
{
    height:30px;
    padding-top:12px;
    font-size:13px;
    font-weight:700;
}

.jobs_section table td:hover
{
    cursor:pointer;
}

.area_table img{
    width:130px;
}

.area_table img:hover{
    cursor:pointer;
}

.gi_jobs{
    color:#4da345;
}

.cd_jobs{
    color:#db8a3f;
}

.de_jobs{
    color:rgb(191, 122, 231);
}

.vc_jobs{
    color:#a1e1f5;
}

.md_jobs{
    color:#ff8888;
}

/*Hightlight*/
.mandatory{
	background:#c7c7c7; 
	position:relative; 
	top:-40px;
	right:5px;
	width:20px; 
	height:20px;
	border-radius:10px;
} 

.mandatory a{
	font-weight:bold;
}
/*Modal*/
.modal {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: none;
		z-index : 3;
        background-color: rgba(0, 0, 0, 0.4);
      }

      .modal.show {
        display: block;
      }

      .modal_body {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 500px;
        height: 300px;

        text-align: center;

        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

        transform: translateX(-50%) translateY(-50%);
      }
      
      .modal_table{
      	width:100%;
      	height:100%;
      	font-family : 'Noto Sans KR', sans-serif;
        font-size:12px;
      }
      
      .modal_title{
      	background-color:#FFE699;
      	border-top-left-radius: 10px;
      	border-top-right-radius: 10px;
      }

	 .modal_cont{
      	width:70%;
      	line-height:180%;
      	padding:8px;
      }
      .modal_pre{
      	width:30%;
      	padding:8px;
      }
      .modal_engYN{
      	width:30%;
      	padding:8px;
      }
      .modal_publicYN{
      	width:30%;
      	padding:8px;
      }

